---
#
---

//
// index.scss
// johjakob.de
//
// © Johannes Jakob
// Made with <3 in Germany
//

@import "_variables";

// Base

* {
  margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	outline: none
}

body {
  color: var(--color__text);
  font-size: 16pt;
  font-family: TTHoves, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--color__background);
}

a {
  color: var(--color__text)
}

p {
  margin-bottom: .5em
}

ul {
  list-style: none
}

iframe {
  border: 0
}

header, main, footer {
  padding: $padding__content
}

header {
  position: relative;

  h1 {
    font-size: 1.2em;
    font-weight: normal;
    text-transform: lowercase
  }

  input {
    display: none;

    &:checked ~ label svg {
      transform: rotate(45deg);
    }

    &:checked ~ nav {
      opacity: 1;
      visibility: visible;

      ul li {
        opacity: 1;
        transform: none
      }
    }
  }

  label {
    top: $padding__content / 2;
    right: $padding__content / 2;
    position: absolute;
    padding: $padding__content / 2;
    display: block;
    z-index: 2;
    cursor: pointer;

    svg {
      margin-top: calc((1.2em - 24px) * 2);
      transition: transform $transition__duration ease;

      line {
        stroke: var(--color__text);
        stroke-width: 2
      }
    }
  }

  nav {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: var(--color__background);
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition__duration ease, visibility $transition__duration ease;
    z-index: 1;

    ul {
      top: 50%;
      position: absolute;
      width: 100%;
      transform: translateY(-50%);

      li {
        margin: 1em;
        font-size: 1.5em;
        opacity: 0;
        transform: translateY(.5rem);
        transition: opacity $transition__duration ease, transform $transition__duration ease;

        a {
          text-transform: lowercase
        }
      }
    }
  }
}

footer ul {
  margin: 0 -.5em;
  display: flex;
  flex-wrap: wrap;

  li {
    margin: .2em .5em
  }
}

@import "_classes";
@import "_desktop.scss";
