---
layout: default
title: Johannes Jakob &ndash; Graphic and Motion Designer
nav: work
---

<section class="section-intro">
  <p>I am a graphic and motion designer, currently studying Graphic Design at Plymouth College of Art and Integrated Design at Dessau Department of Design.</p>
</section>
<section class="section-work">
  {% for post in site.posts %}
    {% if post.nav == 'work' %}
      <a href="{{ post.permalink }}">
        <figure>
          {% assign images = site.static_files | where: "image", true %}
          {% for image in images %}
            {% if image.basename == post.cover %}
              {% assign basename_path = image.path | split: "." %}
              <img src="{{ image.path }}" srcset="{{ basename_path[0] }}@2x{{ image.extname }} 2x">
            {% endif %}
          {% endfor %}
          <figcaption>
            <h2>{{ post.title }}</h2>
            <p>{{ post.discipline }}</p>
          </figcaption>
        </figure>
      </a>
    {% endif %}
  {% endfor %}
</section>