<footer>
  <ul>
    <li><a href="mailto:">Mail</a></li>
    <li><a href="https://dribbble.com/johjakob">Dribbble</a></li>
    <li><a href="https://instagr.am/johjakob">Instagram</a></li>
    <li><a href="https://twitter.com/johjakob">Twitter</a></li>
    <li><a href="https://github.com/johjakob">GitHub</a></li>
  </ul>
  <ul class="ul-copyright">
    <li>
      <p>&copy; Johannes Jakob</p>
    </li>
    <li><a href="/imprint">Imprint</a></li>
    <li><a href="/privacy">Privacy Policy</a></li>
  </ul>
</footer>