//
// classes.scss
// johjakob.de
//
// © Johannes Jakob
// Made with <3 in Germany
//

.nav-li-active a {
  color: var(--color__text)
}

.section-intro {
  margin-bottom: 3em;
  font-family: $font-family__regular;

  p {
    margin: 0;
  }
}

.section-work {
  a {
    figure {
      position: relative;
      margin-bottom: 1em;
    }

    &:last-child figure {
      margin: 0
    }
  }

  img {
    width: 100%;
    display: block
  }

  figcaption {
    padding: $padding__content / 1.5 $padding__content / 2 0 $padding__content / 2;

    h2 {
      font-size: 1em;
      font-weight: bold
    }

    p {
      color: var(--color__text-light);
      font-family: $font-family__regular;
      font-size: .8em
    }
  }
}

.section-playground div {
  position: relative;

  &:before {
    padding-top: 100%;
    content: '';
    display: block
  }

  iframe {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%
  }
}

.section-about, .section-post {
  article {
    margin-bottom: 2em
  }

  img {
    width: 100%;
    display: block;
    margin-bottom: 1em
  }

  p {
    margin-bottom: 1em;
    line-height: 1.5
  }

  a {
    font-weight: bold
  }
}

.section-about {
  h1 {
    margin-bottom: .5em;
    font-size: 1.5em
  }
}

.section-post {
  h1 {
    margin-bottom: 1em;
    font-size: 2em;
    line-height: 1.2
  }
}

.p-light {
  color: var(--color__text-superlight)
}

.ul-skills {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;

  li {
    margin: .2em .4em .2em 0;
    padding: .5em .8em;
    background: var(--color__background-skills);
    border-radius: 6px
  }
}

.ul-copyright {
  margin-top: 2em;

  p, a {
    margin: 0;
    color: var(--color__text-light);
    font-size: .8em;
    display: block
  }

  a:hover {
    color: var(--color__text)
  }
}

.span-cloud {
  &:before {
    content: '['
  }

  &:after {
    content: ']'
  }
}

.a-mail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
