//
// desktop.scss
// johjakob.de
//
// © Johannes Jakob
// Made with <3 in Germany
//

@media (min-width: 801px) {
  // Base

  header, footer {
    padding: $padding__content * 2 $padding__content * 4
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    label {
      display: none;
    }

    nav {
      position: initial;
      width: auto;
      height: auto;
      opacity: 1;
      visibility: visible;

      ul {
        position: initial;
        width: auto;
        transform: none;
        display: flex;

        li {
          font-size: 1em;
          opacity: 1;
          transform: none;

          a {
            color: var(--color__text-light);

            &:hover {
              color: var(--color__text)
            }
          }
        }
      }
    }
  }

  main, footer {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $grid-gap__default
  }

  main {
    padding-bottom: 4em
  }

  footer {
    padding-bottom: $padding__content * 2;

    ul {
      grid-column: 3 / span 8
    }
  }

  // Classes

  .section-intro {
    grid-column: 3 / span 4;

    p {
      font-size: 1.2em
    }
  }

  .section-work, .section-playground, .section-about {
    grid-column: 3 / span 8;
    display: grid;
    grid-gap: $grid-gap__default
  }

  .section-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $grid-gap__default;

    a figure {
      margin: 0;

      &:hover {
        figcaption {
          opacity: 1;

          h2, p {
            opacity: 1;
            transform: none
          }
        }
      }
    }

    figcaption {
      top: 0;
      left: 0;
      position: absolute;
      padding: $padding__content;
      width: 100%;
      height: 100%;
      background: rgba(#000, .5);
      opacity: 0;
      transition: opacity $transition__duration ease;

      h2, p {
        opacity: 0;
        transform: translateY(.5rem);
        transition: opacity $transition__duration ease, transform $transition__duration ease
      }

      h2 {
        margin-bottom: .1em;
        color: $color__text-white;
        font-size: 1.5em;
        line-height: 1
      }

      p {
        color: darken($color__text-white, 30%);
        font-size: .8em
      }
    }
  }

  .section-playground {
    grid-template-columns: repeat(3, 1fr)
  }

  .section-about {
    grid-template-columns: 1fr 1fr;

    img {
      padding-top: .3em;
      order: 2
    }
  
    article {
      order: 1
    }
  }

  .section-post {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: $grid-gap__default;

    h1 {
      grid-column: 3 / span 4
    }

    article {
      grid-column: 3 / span 4
    }

    figure {
      grid-column: 3 / span 8;

      img {
        margin: 0
      }
    }

    .figure-grid-right-edge {
      grid-column: 8 / end;
      grid-row: 2
    }

    .div-grid-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $grid-gap__default;
      grid-column: 3 / span 8;

      figure {
        grid-column: unset
      }
    }

    .article-col-5 {
      grid-column: 3 / span 5
    }
  }
}

@media (min-width: 1113px) {
  // Classes

  .section-work figcaption {
    padding: $padding__content * 2
  }
}
