//
// _variables.scss
// johjakob.de
//
// © Johannes Jakob
// Made with <3 in Germany
//

@font-face {font-family: 'TTHoves';font-weight: bold;font-style: normal;src: url('/assets/webfonts/39F427_0_0.eot');src: url('/assets/webfonts/39F427_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/39F427_0_0.woff2') format('woff2'),url('/assets/webfonts/39F427_0_0.woff') format('woff'),url('/assets/webfonts/39F427_0_0.ttf') format('truetype');}
@font-face {font-family: 'TTHoves-Regular';src: url('/assets/webfonts/39F427_1_0.eot');src: url('/assets/webfonts/39F427_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/39F427_1_0.woff2') format('woff2'),url('/assets/webfonts/39F427_1_0.woff') format('woff'),url('/assets/webfonts/39F427_1_0.ttf') format('truetype');}
@font-face {font-family: 'TTHoves';font-weight: normal;font-style: normal;src: url('/assets/webfonts/39F427_2_0.eot');src: url('/assets/webfonts/39F427_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/39F427_2_0.woff2') format('woff2'),url('/assets/webfonts/39F427_2_0.woff') format('woff'),url('/assets/webfonts/39F427_2_0.ttf') format('truetype');}
@font-face {font-family: 'TTHoves';font-weight: normal;font-style: italic;src: url('/assets/webfonts/39F427_3_0.eot');src: url('/assets/webfonts/39F427_3_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/39F427_3_0.woff2') format('woff2'),url('/assets/webfonts/39F427_3_0.woff') format('woff'),url('/assets/webfonts/39F427_3_0.ttf') format('truetype');}

:root {
  --color__text: #222;
  --color__text-light: #555;
  --color__text-superlight: #666;

  --color__background: #fff
}

@media (prefers-color-scheme: dark) {
  :root {
    --color__text: #eee;
    --color__text-light: #aaa;
    --color__text-superlight: #ccc;

    --color__background: #222
  }
}

$color__text-white: #fff;

$font-family__default: 'TTHoves', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family__regular: 'TTHoves-Regular', 'TTHoves', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$padding__content: 1em;

$width__main: 75%;

$transition__duration: .2s;
