$color-white: #fff;
$color-black: #000;

$color-black_90: rgba($color-black, .9);
$color-black_80: rgba($color-black, .8);
$color-black_70: rgba($color-black, .7);
$color-black_60: rgba($color-black, .6);
$color-black_50: rgba($color-black, .5);
$color-black_40: rgba($color-black, .4);
$color-black_30: rgba($color-black, .3);
$color-black_20: rgba($color-black, .2);
$color-black_10: rgba($color-black, .1);