body {
  min-height: 100vh;
  min-height: 100dvh;
  color: $color-black_90;
  font-family: $font_family-default;
  font-size: 12pt;
  font-weight: 350;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.home {
    color: $color-black_70;
    background-image: url(/assets/images/background.png);
  }

  &.legal {
    //background-image: linear-gradient(hsla(40deg, 100%, 50%, .2), 20%, $color-white);
    //background-image: -webkit-linear-gradient(hsla(40deg, 100%, 50%, .2), 20%, $color-white);
    background-image: url(/assets/images/background_legal.png);
    background-size: 100% auto;
    background-position: top left;
  }
}

::selection {
  color: $color-white;
  background-color: $color-black;
}

@media (min-width: $breakpoint-desktop) {
  body.home main {
    padding-top: 10rem;
  }
}