---
layout: default
title: Johannes Jakob &ndash; Playground
nav: playground
---

<section class="section-intro">
  <p>I learn and extend my skill set by making things. By creating short videos, I am improving my 3D animation and rendering skills.</p>
</section>
<section class="section-playground">
  {% for post in site.posts %}
    {% if post.nav == 'playground' %}
      <div>
        <iframe src="{{ post.content | strip_html | replace: 'https://vimeo.com', 'https://player.vimeo.com/video' }}" allow="fullscreen" allowfullscreen></iframe>
      </div>
    {% endif %}
  {% endfor %}
</section>