<!doctype html>

<!-- Made with <3 in Germany -->

<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width">
    <meta name="language" content="en">
    <meta name="author" content="{{ site.author }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:description" content="Multidisciplinary designer">
    <meta name="twitter:image" content="{{ site.baseurl }}/apple-touch-icon-precomposed.png">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="Multidisciplinary designer">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="{{ site.baseurl }}/apple-touch-icon-precomposed.png">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <link rel="stylesheet" href="{{ 'css/index.css' | relative_url }}" media="screen">
    <link rel="mask-icon" href="{{ 'safari-tab-icon.svg' | relative_url }}" color="#222222" sizes="any">
    <link rel="icon" type="image/x-icon" href="{{ 'favicon.png' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
